@media screen and (min-width: 481px) {
  #about {
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
    z-index: 2;
  }
  #about .title {
    display: flex;
    flex-direction: row;
    margin: 3rem;
  }
  #about .title .title_about {
    max-inline-size: -webkit-min-content;
    max-inline-size: -moz-min-content;
    max-inline-size: min-content;
    font-family: var(--ff1);
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-align: right;
    color: #212427;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 7px solid #f2c94c;
  }
  #about .about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  #about .about_content .about_text {
    position: relative;
  }
  #about .about_content .about_text:before,
#about .about_content .about_text:after,
#about .about_content .about_text > :first-child:before,
#about .about_content .about_text > :first-child:after {
    position: absolute;
    content: " ";
    width: 80px;
    height: 80px;
    border-color: #333333;
    /* or whatever colour */
    border-style: solid;
    /* or whatever style */
  }
  #about .about_content .about_text:before {
    top: 0;
    left: 0;
    border-width: 4px 0 0 4px;
    border-radius: 22px 0 0 0;
  }
  #about .about_content .about_text:after {
    top: 0;
    right: 0;
    border-width: 4px 4px 0 0;
    border-radius: 0 22px 0 0;
  }
  #about .about_content .about_text > :first-child:before {
    bottom: 0;
    right: 0;
    border-width: 0 4px 4px 0;
    border-radius: 0 0 22px 0;
  }
  #about .about_content .about_text > :first-child:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 4px 4px;
    border-radius: 0 0 0 22px;
  }
  #about .about_content .about_text {
    width: 50%;
    height: auto;
    float: left;
    background: rgba(242, 242, 242, 0.9);
    padding: 1rem;
    box-shadow: 12px 15px 13px rgba(0, 0, 0, 0.5);
    border-radius: 22px;
  }
  #about .about_content .about_text p {
    font-family: var(--ff1);
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #040404;
    padding: 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #about {
    height: 100vh;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    z-index: 2;
  }
  #about .title {
    width: 100%;
    margin-bottom: calc(5px + 5vh);
    margin-top: 2rem;
  }
  #about .title .title_about {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: right;
    margin-left: 2rem;
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #212427;
    border-bottom: 7px solid #F2C94C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #about .about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff1);
    font-weight: 400;
    color: #333333;
    margin-bottom: calc(5px + 5vh);
  }
  #about .about_content .about_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 5rem;
    margin: 0 5rem 2rem 0;
    font-size: 1.5rem;
    text-align: right;
    line-height: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #about .about_content .about_header span {
    color: #F2C94C;
    font-size: 2rem;
    text-align: right;
    line-height: 20px;
    font-weight: 400;
  }
  #about .about_content .about_text {
    margin: 0rem 2rem;
    padding: 0.5rem 1rem;
    font-size: calc(0.75em + 1.5vmin);
    line-height: 30px;
    word-spacing: 0px;
    background: rgba(217, 217, 217, 0.6196078431);
    border-radius: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.25);
  }
  #about .about_content .about_text span {
    font-weight: bold;
  }
  #about .languages {
    font-family: var(--ff1);
    margin: 78px 94px 0 24px;
  }
  #about .languages .languages_title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
    color: #333333;
    text-shadow: var(--shadow1);
    border-bottom: 7px solid #F2C94C;
  }
  #about .languages .languages_title span {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;
    color: #F2C94C;
    text-shadow: var(--shadow1);
  }
  #about .languages .languages_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 45px 0;
  }
  #about .languages .languages_content .lang {
    width: 100%;
    font-weight: 400;
    padding: 1rem;
    border-radius: 24px;
    background: rgba(217, 217, 217, 0.6);
  }
  #about .languages .languages_content .lang .lang_title {
    font-size: 32px;
    line-height: 23px;
    color: #333333;
    border-left: 7px solid #F2C94C;
  }
  #about .languages .languages_content .lang .lang_exp {
    font-size: 20px;
    line-height: 29px;
    color: #4f4f4f;
  }
}/*# sourceMappingURL=aboutsection.css.map */