@media screen and (min-width: 768px) and (max-width: 1250px) {
  #languages .languages_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: right;
    margin: 3rem;
    font-family: var(--ff1);
    color: var(--fc1);
    border-bottom: 4px solid #F2C94C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #languages .languages_title div {
    font-weight: 800;
    font-size: 2.5em;
    line-height: 1.25em;
    margin: 0;
  }
  #languages .languages_title span {
    font-size: 1em;
    font-weight: 400;
    display: flex;
    align-self: end;
    color: #F2C94C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 0;
  }
  #languages .languages_content {
    height: 50vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #languages .languages_content .lang {
    background: var(--fc1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: 170px;
    text-align: center;
  }
  #languages .languages_content .lang .lang_title {
    font-size: 1.5em;
    font-family: var(--ff1);
    font-weight: 700;
    color: var(--fc2);
    text-shadow: var(--shadow1);
  }
  #languages .languages_content .lang .lang_exp {
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 1em;
    line-height: 29px;
    color: var(--fc3);
  }
  #languages .languages_content .lang:nth-child(1) {
    justify-self: end;
  }
  #languages .languages_content .lang:nth-child(3) {
    justify-self: start;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #languages {
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    z-index: 2;
  }
  #languages .languages_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: right;
    margin-left: 2rem;
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 38px;
    color: var(--fc1);
    border-bottom: 4px solid #F2C94C;
    margin: 2rem 3rem calc(5px + 5vh) 2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #languages .languages_title span {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-self: end;
    color: #F2C94C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #languages .languages_content {
    height: 70%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #languages .languages_content .lang {
    font-weight: 400;
    margin-bottom: 2rem;
    background: var(--fc1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.25);
    border-left: 5px solid var(--fc2);
  }
  #languages .languages_content .lang .lang_title {
    font-family: var(--ff1);
    line-height: 40px;
    color: var(--fc2);
    font-size: calc(1.5em + 1.5vmin);
  }
  #languages .languages_content .lang .lang_exp {
    font-family: var(--ff2);
    font-weight: 400;
    font-size: calc(0.75em + 1.5vmin);
    line-height: 29px;
    color: var(--fc3);
    padding-left: 5px;
  }
}/*# sourceMappingURL=languages.css.map */