#portfolio {
    height: 100vh;
    backdrop-filter: blur(40px);
    z-index: 2;
}

.portfolio:nth-child(1) {
    background-image: url(../assets/disneyplus.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .portfolio_name {
        backdrop-filter: contrast(0.5);
        transform: rotate(0deg);
        padding: 1rem;
        border-radius: 20px;
        margin-bottom: 3rem;
        color: var(--fc1);
    }
}

.portfolio:nth-child(2) {
    background-image: url(../assets/ai.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .portfolio_name {
        backdrop-filter: contrast(0.5);
        transform: rotate(0deg);
        padding: 1rem;
        border-radius: 20px;
        margin-bottom: 3rem;
        color: var(--fc1);
    }
}

.portfolio:nth-child(3) {
    background: var(--fc2);
}

@media screen and (min-width: 1250px) {
    #portfolio {
        overflow: hidden;
    }

    .portfolio_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        width: min-content;
        text-align: right;
        margin-left: 2rem;

        font-family: var(--ff1);
        font-weight: 700;
        font-size: 38px;
        // line-height: 60px;

        color: var(--fc1);
        border-bottom: 4px solid #F2C94C;
        margin: 2rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // margin-bottom: calc(5px + 5vh);



        span {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-self: end;
            color: #F2C94C;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    .portfolio_content {
        // width: 100vw;

        .swiper-wrapper {
            height: 70vh;
            display: flex;
            align-items: center;

            // .portfolio:nth-child(1) {
            //     background-image: url(../assets/disneyplus.png);
            //     background-size: cover;
            //     background-position: center;
            //     background-repeat: no-repeat;

            //     .portfolio_name {
            //         backdrop-filter: contrast(0.5);
            //         transform: rotate(0deg);
            //         padding: 1rem;
            //         border-radius: 20px;
            //         margin-bottom: 3rem;
            //         color: var(--fc1);
            //     }
            // }

            // .portfolio:nth-child(2) {
            //     background-image: url(../assets/ai.png);
            //     background-size: cover;
            //     background-position: center;
            //     background-repeat: no-repeat;

            //     .portfolio_name {
            //         backdrop-filter: contrast(0.5);
            //         transform: rotate(0deg);
            //         padding: 1rem;
            //         border-radius: 20px;
            //         margin-bottom: 3rem;
            //         color: var(--fc1);
            //     }
            // }




            .portfolio {
                position: relative;
                width: 60%;
                height: 65%;
                border-radius: 20px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);
                background: var(--fc2);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                transition: all 0.5s ease;


                .portfolio_name {
                    width: min-content;
                    font-family: var(--ff1);
                    font-size: 1.75em;
                    font-weight: 400;
                    color: var(--fc1);
                    text-align: center;
                    transform: rotate(-25deg);
                }

                .portfolio_icons {
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;

                    position: absolute;
                    bottom: 2rem;

                    >div {
                        width: 40px;
                        height: 40px;
                        background: var(--fc1);
                        color: var(--fc2);
                        border-radius: 50%;
                        cursor: pointer;

                        >i {
                            font-size: 1em;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    >div:hover {
                        background: var(--fc2);
                        color: var(--fc1);

                    }

                }

                .portfolio_exp {
                    font-family: var(--ff2);
                    font-size: 1em;
                    font-weight: 400;
                    color: var(--fc1);
                }

                .swiper-slide-shadow-left {
                    border-radius: 20px;
                }

                .swiper-slide-shadow-right {
                    border-radius: 20px;
                }
            }

            // .portfolio:hover {
            //     filter: brightness(1);
            //     transition: all 0.5s ease;
            // }
        }

        .swiper-pagination {
            display: flex;
            top: 70vh;
            justify-content: center;
            width: 100%;
            height: 4px;
        }

        .swiper-scrollbar {
            position: absolute;
            transform: translate(50%, -50%);
            height: 10px;
            width: 50%;

            .swiper-scrollbar-drag {
                background: var(--fc2);
            }
        }

    }

    .mousewheel {
        position: absolute;
        top: 4rem;
        right: 3rem;

        img {
            width: 3rem;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .portfolio_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        width: min-content;
        text-align: right;
        margin-left: 2rem;

        font-family: var(--ff1);
        font-weight: 700;
        font-size: 38px;
        // line-height: 60px;

        color: var(--fc1);
        border-bottom: 4px solid #F2C94C;
        margin: 2rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // margin-bottom: calc(5px + 5vh);



        span {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-self: end;
            color: #F2C94C;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    .portfolio_content {
        width: 100vw;

        .swiper-wrapper {
            height: 70vh;
            display: flex;
            align-items: center;

            .portfolio:nth-child(1) {
                // background-image: url(../assets/disneyplus.png);
                // background-size: cover;
                // background-position: center;
                // background-repeat: no-repeat;

                .portfolio_name {
                    backdrop-filter: contrast(0.5);
                    transform: rotate(0deg);
                    padding: 1rem;
                    border-radius: 20px;
                    margin-bottom: 3rem;
                    color: var(--fc1);
                }
            }

            // .portfolio:nth-child(2) {
            //     background: var(--fc1);
            // }

            // .portfolio:nth-child(3) {
            //     background: var(--fc1);
            // }



            .portfolio {
                position: relative;
                width: 60%;
                height: 65%;
                border-radius: 20px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                transition: all 0.5s ease;


                .portfolio_name {
                    width: min-content;
                    font-family: var(--ff1);
                    font-size: 1.75em;
                    font-weight: 400;
                    color: var(--fc2);
                    text-align: center;
                    // transform: rotate(-25deg);
                }

                .portfolio_icons {
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;

                    position: absolute;
                    bottom: 2rem;

                    >div {
                        width: 40px;
                        height: 40px;
                        background: var(--fc1);
                        color: var(--fc2);
                        border-radius: 50%;
                        cursor: pointer;

                        >i {
                            font-size: 1em;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    >div:hover {
                        background: var(--fc2);
                        color: var(--fc1);

                    }

                }


                .portfolio_exp {
                    font-family: var(--ff2);
                    font-size: 1em;
                    font-weight: 400;
                    color: var(--fc1);
                }

                .swiper-slide-shadow-left {
                    border-radius: 20px;
                }

                .swiper-slide-shadow-right {
                    border-radius: 20px;
                }
            }

            .portfolio i:hover {
                filter: brightness(1);
            }
        }

        .swiper-pagination {
            display: flex;
            top: 70vh;
            justify-content: center;
            width: 100%;
            height: 4px;
        }

        .swiper-scrollbar {
            height: 10px;
            width: 50%;

            position: relative;
            transform: translate(50%, -50%);

            .swiper-scrollbar-drag {
                background: var(--fc2);
            }

        }

    }
}


@media screen and (min-width: 480px) and (max-width: 768px) {
    .portfolio_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        width: min-content;
        text-align: right;
        margin-left: 2rem;

        font-family: var(--ff1);
        font-weight: 700;
        font-size: 38px;
        // line-height: 60px;

        color: var(--fc1);
        border-bottom: 4px solid #F2C94C;
        margin: 2rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // margin-bottom: calc(5px + 5vh);



        span {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-self: end;
            color: #F2C94C;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .portfolio_content {

        .swiper-wrapper {
            height: 70vh;
            display: flex;
            align-items: center;

            .portfolio:nth-child(1) {
                // background-image: url(../assets/disneyplus.png);
                // background-size: cover;
                // background-position: center;
                // background-repeat: no-repeat;

                .portfolio_name {
                    backdrop-filter: contrast(0.5);
                    transform: rotate(0deg);
                    padding: 1rem;
                    border-radius: 20px;
                    margin-bottom: 3rem;
                    color: var(--fc1);
                }
            }

            .portfolio:nth-child(2) {
                // background: var(--fc2);

                .portfolio_name {
                    // transform: rotate(0deg);
                    color: var(--fc1);
                }
            }





            .portfolio {
                position: relative;
                width: 60%;
                height: 65%;
                border-radius: 20px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);


                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;



                .portfolio_name {
                    width: min-content;
                    font-family: var(--ff2);
                    font-size: 1.75em;
                    font-weight: 700;
                    color: var(--fc1);
                    text-align: center;
                    // transform: rotate(-25deg);
                }

                .portfolio_icons {
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;

                    position: absolute;
                    bottom: 2rem;

                    >div {
                        width: 40px;
                        height: 40px;
                        background: var(--fc1);
                        color: var(--fc2);
                        border-radius: 50%;

                        >i {
                            font-size: 1em;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }

                .portfolio_exp {
                    font-family: var(--ff2);
                    font-size: 1em;
                    font-weight: 400;
                    color: var(--fc1);
                }

                .swiper-slide-shadow-left {
                    border-radius: 20px;
                }

                .swiper-slide-shadow-right {
                    border-radius: 20px;
                }
            }
        }

        .swiper-pagination {
            display: flex;
            top: 70vh;
            justify-content: center;
            width: 100%;
            height: 4px;
        }

        .swiper-scrollbar {
            display: none;
        }


    }

    .mousewheel {
        display: none;
    }

    .swiper-scrollbar {
        display: none;
    }

    .mousewheel {
        display: none;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .portfolio_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        width: min-content;
        text-align: right;
        margin-left: 2rem;

        font-family: var(--ff1);
        font-weight: 700;
        font-size: 38px;
        // line-height: 60px;

        color: var(--fc1);
        border-bottom: 4px solid #F2C94C;
        margin: 2rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // margin-bottom: calc(5px + 5vh);



        span {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-self: end;
            color: #F2C94C;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .portfolio_content {

        .swiper-wrapper {
            height: 70vh;
            display: flex;
            align-items: center;

            .portfolio:nth-child(1) {
                // background-image: url(../assets/disneyplus.png);
                // background-size: cover;
                // background-position: center;
                // background-repeat: no-repeat;

                .portfolio_name {
                    backdrop-filter: contrast(0.5);
                    transform: rotate(0deg);
                    padding: 1rem;
                    border-radius: 20px;
                    margin-bottom: 3rem;
                    color: var(--fc1);
                }
            }

            // .portfolio:nth-child(2) {
            //     background: var(--fc2);

            //     .portfolio_name {
            //         transform: rotate(0deg);
            //         color: var(--fc1);
            //     }
            // }



            .portfolio {
                position: relative;
                width: 60%;
                height: 65%;
                border-radius: 20px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;



                .portfolio_name {
                    width: min-content;
                    font-family: var(--ff2);
                    font-size: 1.75em;
                    font-weight: 700;
                    color: var(--fc1);
                    text-align: center;
                    // transform: rotate(-25deg);
                }

                .portfolio_icons {
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;

                    position: absolute;
                    bottom: 2rem;

                    >div {
                        width: 40px;
                        height: 40px;
                        background: var(--fc1);
                        color: var(--fc2);
                        border-radius: 50%;

                        >i {
                            font-size: 1em;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }


                }

                .portfolio_exp {
                    font-family: var(--ff2);
                    font-size: 1em;
                    font-weight: 400;
                    color: var(--fc1);
                }

                .swiper-slide-shadow-left {
                    border-radius: 20px;
                }

                .swiper-slide-shadow-right {
                    border-radius: 20px;
                }
            }
        }

        .swiper-pagination {
            display: flex;
            top: 70vh;
            justify-content: center;
            width: 100%;
            height: 4px;
        }

        .swiper-scrollbar {
            display: none;
        }


    }

    .mousewheel {
        display: none;
    }
}