#skills {
    backdrop-filter: blur(40px);
    z-index: 3;
}

@media screen and (min-width: 1250px) {
    #skills {
        overflow: hidden;
    }

    .skills_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        width: min-content;
        text-align: right;
        margin-left: 2rem;

        font-family: var(--ff1);
        font-weight: 700;
        font-size: 38px;
        // line-height: 60px;

        color: var(--fc1);
        border-bottom: 4px solid #F2C94C;
        margin: 2rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // margin-bottom: calc(5px + 5vh);



        span {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-self: end;
            color: #F2C94C;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    .skills_content {

        .swiper-wrapper {
            height: 70vh;
            display: flex;
            align-items: center;

            .skills {
                position: relative;
                width: 60%;
                height: 65%;
                background: var(--fc1);
                // box-shadow: none !important;
                // filter: drop-shadow(7px 5px 3px #4f4f4f);
                border-radius: 20px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .skills_icon {
                    margin-bottom: 2rem;

                    img {
                        width: 5.75em;
                        // height: 2em;
                        filter: drop-shadow(7px 5px 3px #4f4f4f);
                    }
                }

                .skills_name {
                    font-family: var(--ff1);
                    font-size: 1.75em;
                    font-weight: 400;
                    color: var(--fc2);
                }

                .skills_exp {
                    font-family: var(--ff2);
                    font-size: 1em;
                    font-weight: 400;
                    color: var(--fc3);
                }

                .swiper-slide-shadow-left {
                    border-radius: 20px;
                }

                .swiper-slide-shadow-right {
                    border-radius: 20px;
                }
            }

            .skills .swiper-slide .swiper-slide-visible .swiper-slide-active {
                .skills_icon {
                    width: 40px;
                    height: auto;
                    position: absolute;
                    top: 1rem;
                    // right: 1rem;
                    transform: translate(-50%, 30%);

                    img {
                        width: 8.75em;
                        // height: 2em;
                        filter: drop-shadow(7px 5px 3px #4f4f4f);
                    }
                }
            }


        }

        .swiper-pagination {
            display: none;
        }

        .swiper-scrollbar {
            height: 10px;
            width: 50%;

            position: relative;
            transform: translate(50%, -50%);

            .swiper-scrollbar-drag {
                background: var(--fc2);
            }

        }
    }

    .mousewheel,
    .mousewheel:before {
        position: absolute;
        right: 5%;
    }

    .mousewheel {
        width: 40px;
        height: 60px;
        box-shadow: inset 0 0 0 3px var(--fc2);
        border-radius: 25px;
    }

    .mousewheel:before {
        content: '';
        width: 8px;
        height: 8px;
        background: var(--fc2);
        margin: 13px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateY(46px);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    #skills {
        overflow: hidden;
    }

    .skills_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        width: min-content;
        text-align: right;
        margin-left: 2rem;

        font-family: var(--ff1);
        font-weight: 700;
        font-size: 38px;
        // line-height: 60px;

        color: var(--fc1);
        border-bottom: 4px solid #F2C94C;
        margin: 2rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // margin-bottom: calc(5px + 5vh);



        span {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-self: end;
            color: #F2C94C;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    .skills_content {

        .swiper-wrapper {
            height: 70vh;
            width: 100vw;
            display: flex;
            align-items: center;


            .skills {
                position: relative;
                width: 60%;
                height: 65%;
                background: var(--fc1);
                border-radius: 20px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .skills_icon {
                    width: 40px;
                    height: auto;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;

                    img {
                        width: 1.75em;
                        // height: 2em;
                        filter: drop-shadow(7px 5px 3px #4f4f4f);
                    }
                }

                .skills_name {
                    font-family: var(--ff1);
                    font-size: 1.75em;
                    font-weight: 400;
                    color: var(--fc2);
                }

                .skills_exp {
                    font-family: var(--ff2);
                    font-size: 1em;
                    font-weight: 400;
                    color: var(--fc3);
                }

                .swiper-slide-shadow-left {
                    border-radius: 20px;
                }

                .swiper-slide-shadow-right {
                    border-radius: 20px;
                }
            }
        }

        .swiper-pagination {
            display: none;

        }

        .swiper-scrollbar {
            height: 10px;
            width: 50%;
            position: relative;
            transform: translate(50%, -50%);

            .swiper-scrollbar-drag {
                background: var(--fc2);

            }

        }
    }

    .mousewheel,
    .mousewheel:before {
        position: absolute;
        top: 3rem;
        right: 5%;
    }

    .mousewheel {
        width: 40px;
        height: 60px;
        box-shadow: inset 0 0 0 3px var(--fc1);
        border-radius: 25px;
    }

    .mousewheel:before {
        content: '';
        position: absolute;
        top: 0;
        width: 8px;
        height: 8px;
        background: var(--fc1);
        margin: 13px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateY(46px);
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .skills_title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        width: min-content;
        text-align: right;
        margin-left: 2rem;

        font-family: var(--ff1);
        font-weight: 700;
        font-size: 38px;
        // line-height: 60px;

        color: var(--fc1);
        border-bottom: 4px solid #F2C94C;
        margin: 2rem;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // margin-bottom: calc(5px + 5vh);



        span {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-self: end;
            color: #F2C94C;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    .skills_content {


        .swiper-wrapper {
            height: 70vh;
            display: flex;
            align-items: center;

            .skills {
                position: relative;
                width: 60%;
                height: 65%;
                background: var(--fc1);
                border-radius: 20px;
                text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .skills_icon {
                    width: 40px;
                    height: auto;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;

                    img {
                        width: 1.75em;
                        // height: 2em;
                        filter: drop-shadow(7px 5px 3px #4f4f4f);
                    }
                }

                .skills_name {
                    font-family: var(--ff1);
                    font-size: 1.75em;
                    font-weight: 400;
                    color: var(--fc2);
                }

                .skills_exp {
                    font-family: var(--ff1);
                    font-size: 1em;
                    font-weight: 400;
                    color: var(--fc3);
                }

                .swiper-slide-shadow-left {
                    border-radius: 20px;
                }

                .swiper-slide-shadow-right {
                    border-radius: 20px;
                }
            }
        }

        .swiper-pagination {
            display: flex;
            top: 70vh;
            justify-content: center;
            width: 100%;
            height: 4px;
        }

        .swiper-scrollbar {
            display: none;
        }

    }

    .mousewheel {
        display: none;
    }


}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #skills {
        backdrop-filter: blur(40px);
        z-index: 2;

        .skills_title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
            width: min-content;
            text-align: right;
            margin-left: 2rem;

            font-family: var(--ff1);
            font-weight: 700;
            font-size: 38px;
            // line-height: 60px;

            color: var(--fc1);
            border-bottom: 4px solid #F2C94C;
            margin: 2rem;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // margin-bottom: calc(5px + 5vh);



            span {
                font-size: 18px;
                font-weight: 400;
                display: flex;
                align-self: end;
                color: #F2C94C;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

        }

        .skills_content {


            .swiper-wrapper {
                height: 70vh;
                display: flex;
                align-items: center;

                .skills {
                    position: relative;
                    width: 60%;
                    height: 65%;
                    background: var(--fc1);
                    border-radius: 20px;
                    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                    box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .skills_icon {
                        width: 40px;
                        height: auto;
                        position: absolute;
                        top: 1rem;
                        right: 1rem;

                        img {
                            width: 1.75em;
                            // height: 2em;
                            filter: drop-shadow(7px 5px 3px #4f4f4f);
                        }
                    }

                    .skills_name {
                        font-family: var(--ff1);
                        font-size: 1.75em;
                        font-weight: 400;
                        color: var(--fc2);
                    }

                    .skills_exp {
                        font-family: var(--ff1);
                        font-size: 1em;
                        font-weight: 400;
                        color: var(--fc3);
                    }

                    .swiper-slide-shadow-left {
                        border-radius: 20px;
                    }

                    .swiper-slide-shadow-right {
                        border-radius: 20px;
                    }
                }
            }

            .swiper-pagination {
                display: flex;
                top: 70vh;
                justify-content: center;
                width: 100%;
                height: 4px;
            }

            .swiper-scrollbar {
                display: none;
            }

        }

        .mousewheel {
            display: none;
        }
    }
}