@media screen and (min-width: 320px) and (max-width: 480px) {
    #skills {
        backdrop-filter: blur(40px);
        z-index: 2;

        .skills_title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: fit-content;
            width: min-content;
            text-align: right;
            margin-left: 2rem;

            font-family: var(--ff1);
            font-weight: 700;
            font-size: 38px;
            // line-height: 60px;

            color: #212427;
            border-bottom: 4px solid #F2C94C;
            margin: 2rem;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // margin-bottom: calc(5px + 5vh);



            span {
                font-size: 18px;
                font-weight: 400;
                display: flex;
                align-self: end;
                color: #F2C94C;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

        }

        .skills_content {

            .swiper-wrapper {
                height: 70vh;
                display: flex;
                align-items: center;

                .skills {
                    position: relative;
                    width: 60%;
                    height: 65%;
                    background: rgba(217, 217, 217, 0.6196078431);
                    border-radius: 20px;
                    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                    box-shadow: 6px 8px 4px rgb(0 0 0 / 25%);

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .skills_icon {
                        width: 40px;
                        height: auto;
                        position: absolute;
                        top: 1rem;
                        right: 1rem;

                        img {
                            width: 1.75em;
                            // height: 2em;
                            filter: drop-shadow(7px 5px 3px #4f4f4f);
                        }
                    }

                    .skills_name {
                        font-family: var(--ff1);
                        font-size: 1.75em;
                        font-weight: 400;
                        color: #212427;
                    }

                    .skills_exp {
                        font-family: var(--ff2);
                        font-size: 1em;
                        font-weight: 400;
                        color: #4f4f4f;
                    }

                    .swiper-slide-shadow-left {
                        border-radius: 20px;
                    }

                    .swiper-slide-shadow-right {
                        border-radius: 20px;
                    }
                }
            }

            .swiper-pagination {
                display: flex;
                top: 70vh;
                justify-content: center;
                width: 100%;
                height: 4px;
            }


        }
    }
}